{% extends "basic.html" %}

{% block title %}<title>Главная страница</title>{% endblock %}

{% block content %}
    <h1>Главная страница</h1>
    <h3>Описание наших товаров</h3>
    <p>Все наши товары проходят тест на качество и несём за них ответственность <strong>последние 5 товаров:</strong></p>
    {% for product in products %}
        <div>
            <p>Название товара: {{product.name}}</p>
            <p>Описание товара: {{product.desc}}</p>
            <p>Фото: <img class="img" src="/media/{{ product.photo }}"></p>
        </div>
        {% if not forloop.last %}<p>-----------------------------------------------------------</p>{% endif %}
    {% endfor %}
{% endblock %}